@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
}

body {
    color: #927b91;
    font-family: 'League Spartan', sans-serif;
    background: url('./images/bg-pattern-top-desktop.svg') no-repeat top left, url('./images/bg-pattern-bottom-desktop.svg') no-repeat 200px 300px;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    flex-direction: column;
    max-width: 1158px;
    padding-block: 100px;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-left: 0;
    width: 100%;
}

.box1 {
    width: 42%;
    height: auto;
}

.title {
    color: #512051;
    font-size: 56px;
}

.description {
    font-size: 19px;
    margin-top: 20px;
    line-height: 1.3;
}

.box2 {
    width: 57%;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.review {
    background-color: #f7f2f7;
    margin: 10px;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 75%;
}


.review:nth-of-type(2) {
    margin-left: 10%;
}

.review:nth-of-type(3) {
    margin-left: 20%;
}

.review img {
    padding-inline: 3px;
}

.review span {
    color: #512051;
    font-size: 17px;
    font-weight: 700;
    margin-left: 30px;
}

.reviews {
    display: flex;
    margin-top: 30px;
}

.review1 {
    border-radius: 10px;
    background: #512051;
    padding: 40px 32px 35px;
    color: #f7f2f7;
    font-size: 17px;
    margin: 15px;
    height: 240px;
}

.review1:nth-of-type(1) {
    margin-left: 0;
    margin-top: 0;
}

.review1:nth-of-type(2) {
    margin-top: 2%;
}

.review1:nth-of-type(3) {
    margin-top: 4%;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.header img {
    width: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.author_name {
    display: flex;
    flex-direction: column;
}

.author_name span {
    font-size: 17px;
    font-weight: 600;
}

.author_name small {
    color: #ee69a4;
    font-size: 17px;
}

.review1 p {
    line-height: 1.3;
}

.attribution {
    text-align: center;
    color: #222;
}

.attribution a {
    color: red;
    cursor: pointer;
}

@media(max-width:1250px) {
    .main {
        width: 95%;
        padding-block: 60px;
    }

    .box1 {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
    }

    .title {
        font-size: 40px;
        width: 70%;
    }

    .review {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .icons {
        margin-bottom: 15px;
    }

    .review img {
        padding-inline: 2px;
    }

    .review:nth-of-type(1) {
        margin-left: 0;
    }

    .review:nth-of-type(2) {
        margin-left: 0;
    }

    .review:nth-of-type(3) {
        margin-left: 0;
    }

    .reviews {
        margin-top: 20px;
    }

    .review1 {
        height: auto;
        margin: 10px;
    }

    .review1:nth-of-type(1) {
        margin-left: 0;
        margin-top: 0;
    }

    .review1:nth-of-type(2) {
        margin-top: 0;
    }

    .review1:nth-of-type(3) {
        margin-top: 0;
    }
}

@media(max-width:778px) {
    .main {
        align-items: center;
    }

    .info {
        display: flex;
        flex-direction: column;
        width: 95%;
    }

    .box1 {
        width: 100%;
    }

    .box2 {
        width: 110%;
        padding: 0;
        text-align: center;
    }

    .review {
        width: 95%;
    }

    .reviews {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .review1:nth-of-type(1) {
        margin-left: 10px;
    }
}